.myDiv {
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
}
.centralTable {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.imgLogos {
  max-width: 40%;
}

p{
  color:lightgrey;
}

/* 
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
*/